<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<!--<![endif]-->

<head>
  <link href="style/about.css" rel="stylesheet"> </head>

<body>
  <div class="container">
    <div class="row">
      <div class="col-md-12 wow fadeInUp" data-wow-delay="0.5s">
        <center>
          <h2>About UnivGuide</h2></center>
        <center>
          <hr class="small"> </center>
        <div class="row">
          <div class="col-md-12 ">
            <div>
              <center>
                <h3>The Goal</h3></center>
              <center>
                <hr class="small"> </center>
              <!-- <p class="paragraph"><strong>Notify users how much calories they have taken in and tell users the time they needed to burn calories.
</strong></p> -->
              <p class="paragraph">
                <center>UnivGuide is a website that can provide international students with information and data visualisation about universties, courses and cities in the UK. The aim of the website is to help international students make informed decision for
                  ther higher education destination choices in the UK. </center>
              </p>
            </div>
            <div>
              <center>
                <h3>Data Sources</h3></center>
              <center>
                <hr class="small"> </center>
              <div class="container">
                <div class="col-md-6 col-sm-6 text-center" style="padding-bottom: 20px"> <img class="img-thumbnail img-responsive img-center"  src="../img/unistats.jpg" alt="">

                  <!-- <h3>	Unistats API</h3> -->
                  <!-- <p class="paragraph">
                    Unistats API is an open API provided by Higher Education Statistics Agency (HESA). This API provides comparable sets of information about university courses in the UK, such as course mode, tuition fees and living expenses. Moreover, it provides the details
                    of the location of universities or courses, including the latitude and longitude. Therefore, this API was used to provide international students with information on universities and courses.
                  </p> -->
                </div>
                <!-- <div class="col-md-6  col-sm-6 text-center"> <img class="img-thumbnail img-responsive img-center" src="../img/about_ShanchuanWu.jpeg" alt="">
                  <h3>Google Maps API</h3>
                  <p class="paragraph">
                    Google Maps provides a number of map APIs that allow the developers to add different functions to the embedded Google Map on the web pages. In this system, Google Maps Distance Matrix API was used to estimate travel time and distance between universities
                    and several metropolises, like London and Edinburgh. Besides, Google Places API was used to provide information about infrastructure around universities.</p>
                </div> -->
                <div class="col-md-6  col-sm-6 text-center" style="padding-bottom: 20px"> <img class="img-thumbnail img-responsive img-center" src="../img/openweathermap.png" alt="">
                  <!-- <h3>	OpenWeatherMap API</h3> -->
                  <!-- <p class="paragraph">
                    Although the historic weather data would offer a better understanding of weather in cities, it is difficult to find available open datasets or free open APIs about the historic weather of cities in the UK. Most open datasets, like Met Office, only provide
                    historic weather data of observation stations instead of that of cities. As a result, the information about weather provided in this system was the weather forecast for next hours and next 14 days, and the data came from OpenWeatherMap
                    API.
                  </p> -->
                </div>
                <div class="col-md-6  col-sm-6 text-center" style="padding-bottom: 20px"> <img class="img-thumbnail img-responsive img-center" src="../img/policeuk.png" alt="">
                  <!-- <h3>	Police API</h3> -->
                  <!-- <p class="paragraph">
                    Police.uk provides a Police API that gives the public free access to open data about crime and policing in England, Wales and Northern Ireland. Specifically, the Police API allows the public to retrieve data about crime or policing within different locations
                    or categories. Hence, the police API was used in this system to provide international students with detailed information on criminality or safety of cities. </p> -->
                </div>

                <div class="col-md-6 col-md-offest-4 col-sm-6 text-center" style="padding-bottom: 20px"> <img class="img-thumbnail img-responsive img-center" src="../img/times.jpg" alt="">
                  <!-- <h3>	Police API</h3> -->
                  <!-- <p class="paragraph">
                    Police.uk provides a Police API that gives the public free access to open data about crime and policing in England, Wales and Northern Ireland. Specifically, the Police API allows the public to retrieve data about crime or policing within different locations
                    or categories. Hence, the police API was used in this system to provide international students with detailed information on criminality or safety of cities. </p> -->
                </div>

              </div>
            </div>
          </div>
        </div>

 </div>
      <div class="container">
        <div class="row">
          <div class="col-md-12 wow fadeInUp" data-wow-delay="1s">
            <center>
              <h2>About Me</h2></center>
            <center>
              <hr class="small"> </center>
            <!-- Team Members Row -->
            <div class="row">
              <div class="col-md-12">
                <div class="col-md-6 col-offest-2 col-sm-6 text-center"> <img class="img-circle img-responsive img-center" src="../img/about_ShanchuanWu.jpeg" alt="">
                  <h3>Shanchuan Wu
            <small>MSc Computer Science</small>
        </h3>
                  <p>I am an MSc student of Computer Science at University of Southampton. </p>
                  <p>Contact me via email: sw9n14@soton.ac.uk</p>
                </div>
                <div class="col-md-5 col-offest-2 col-sm-6">
                  <p class="skills">Graphic Design </p>
                  <div class="progress progress-striped active">
                    <div class="progress-bar progress-bar-striped" role="progressbar" data-transitiongoal="80"></div>
                  </div>
                  <p class="skills">Front-End Development </p>
                  <div class="progress progress-striped active">
                    <div class="progress-bar progress-bar-danger" role="progressbar" data-transitiongoal="90"></div>
                  </div>
                  <p class="skills">Back-End Development </p>
                  <div class="progress progress-striped active">
                    <div class="progress-bar progress-bar-info" role="progressbar" data-transitiongoal="70"></div>
                  </div>
                  <p class="skills">JavaScript </p>
                  <div class="progress progress-striped active">
                    <div class="progress-bar progress-bar-warning" role="progressbar" data-transitiongoal="80"></div>
                  </div>
                </div>
                <br>
                <br>
                <br> </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
<script>
  $(document).ready(function() {
    $('.progress .progress-bar').progressbar({
      display_text: 'fill'
    });
  });
</script>
