<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<!--<![endif]-->

<head>
    <link href="style/about.css" rel="stylesheet"> </head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12 wow fadeInUp" data-wow-delay="0.5s">
                <center>
                    <h2>About UnivGuide</h2></center>
                <center>
                    <hr class="small"> </center>
                <div class="row">
                    <div class="col-md-12 ">
                        <center>
                            <h3>The Goal</h3></center>
                        <center>
                            <hr class="small"> </center>
                        <p class="paragraph"><strong>Notify users how much calories they have taken in and tell users the time they needed to burn calories.
</strong></p>
                        <p class="paragraph">Our target users are pepole who want to keep fit, lose weight or keep slim. The goal of our project is to provie users a mordern and useful tool to calculate the amount of calories they have taked in and indicate the time they need to burn the calories. </p>
                        <center>
                            <h3>Data Resources</h3></center>
                        <center>
                            <hr class="small"> </center>
                        <p class="paragraph">This is description about datasets.This is description about datasets.This is description about datasets.This is description about datasets.This is description about datasets.This is description about datasets.This is description about datasets.This is description about datasets.This is description about datasets.This is description about datasets.</p>
                    </div>
                </div>
                <br>
                <br>
                <br>
                <br> </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12 wow fadeInUp" data-wow-delay="1s">
                        <center>
                            <h2>About Me</h2></center>
                        <center>
                            <hr class="small"> </center>
                        <!-- Team Members Row -->
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-6 col-offest-2 col-sm-6 text-center"> <img class="img-circle img-responsive img-center" src="../img/about_ShanchuanWu.jpeg" alt="">
                                    <h3>Shanchuan Wu
            <small>MSc Computer Science</small>
        </h3>
                                    <p>I am an MSc student of Computer Science at University of Southampton. </p>
                                    <p>Contact me via email: sw9n14@soton.ac.uk</p>
                                </div>
                                <div class="col-md-5 col-offest-2 col-sm-6">
                                    <p class="skills">Graphic Design </p>
                                    <div class="progress progress-striped active">
                                        <div class="progress-bar progress-bar-striped" role="progressbar" data-transitiongoal="80"></div>
                                    </div>
                                    <p class="skills">Front-End Development </p>
                                    <div class="progress progress-striped active">
                                        <div class="progress-bar progress-bar-danger" role="progressbar" data-transitiongoal="90"></div>
                                    </div>
                                    <p class="skills">Back-End Development </p>
                                    <div class="progress progress-striped active">
                                        <div class="progress-bar progress-bar-info" role="progressbar" data-transitiongoal="70"></div>
                                    </div>
                                    <p class="skills">JavaScript </p>
                                    <div class="progress progress-striped active">
                                        <div class="progress-bar progress-bar-warning" role="progressbar" data-transitiongoal="80"></div>
                                    </div>
                                </div>
                                <br>
                                <br>
                                <br> </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script>
    $(document).ready(function () {
        $('.progress .progress-bar').progressbar({
            display_text: 'fill'
        });
    });
</script>