<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<!--<![endif]-->

<body>
    <div class="slider-area">
        <div class="slider">
            <div id="bg-slider" class="owl-carousel owl-theme  wow fadeInUp" data-wow-delay="0.5s">
                <div class="item"> <img src="../img/slider-image-6.jpg" alt=""> </div>
                <div class="item"> <img src="../img/slider-image-5.jpg" alt=""> </div>
                <div class="item"> <img src="../img/slider-image-4.jpg" alt=""> </div>
                <div class="item"> <img src="../img/slider-image-2.jpg" alt=""> </div>
            </div>
        </div>
        <div class="container slider-content wow zoomInDown" data-wow-delay="0.8s">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-sm-12">
                    <h2>Start your Higher Education from here</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi deserunt deleniti, ullam commodi sit ipsam laboriosam velit adipisci quibusdam aliquam teneturo!</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="content-area">
            <div class="row page-title text-center wow zoomInDown" data-wow-delay="0.7s">
                <h5>Our Process</h5>
                <h2>How We Help Choose Most Suitable Course and University for you?</h2>
                <p>Follow the process below to find your most suitable course and university in the UK</p>
            </div>
            <div class="row how-it-work text-center">
                <div class="col-md-4">
                    <div class="single-work wow fadeInUp" data-wow-delay="0.8s"> <img src="img/how-work1.png" alt="">
                        <h3>Searching for courses and universities</h3>
                        <p>Using the outcomes from the job, we will put together a plan for the most effective marketing strategy to get the best results.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="single-work  wow fadeInUp" data-wow-delay="0.9s"> <img src="img/how-work2.png" alt="">
                        <h3>Compare different courses and universities</h3>
                        <p>Using the outcomes from the job, we will put together a plan for the most effective marketing strategy to get the best results.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="single-work wow fadeInUp" data-wow-delay="1s"> <img src="img/how-work3.png" alt="">
                        <h3>Find the most suitable course and universty</h3>
                        <p>Using the outcomes from the job, we will put together a plan for the most effective marketing strategy to get the best results.</p>
                    </div>
                </div>
            </div>
            <!-- <div class="container">
            <div class="row testimonial wow fadeInUp" data-wow-delay="1.1s">
                <div class="col-md-12">
                    <div id="testimonial-slider">
                        <div class="item">
                            <div class="client-text">
                                <p>Jobify offer an amazing service and I couldn’t be happier! They are dedicated to helping recruiters find great candidates, wonderful service!</p>
                                <h4><strong>Ohidul Islam, </strong><i>Web Designer</i></h4> </div>
                            <div class="client-face wow fadeInRight" data-wow-delay=".9s"> <img src="img/client-face1.png" alt=""> </div>
                        </div>
                        <div class="item">
                            <div class="client-text">
                                <p>Jobify offer an amazing service and I couldn’t be happier! They are dedicated to helping recruiters find great candidates, wonderful service!</p>
                                <h4><strong>Ohidul Islam, </strong><i>Web Designer</i></h4> </div>
                            <div class="client-face"> <img src="img/client-face2.png" alt=""> </div>
                        </div>
                        <div class="item">
                            <div class="client-text">
                                <p>Jobify offer an amazing service and I couldn’t be happier! They are dedicated to helping recruiters find great candidates, wonderful service!</p>
                                <h4><strong>Ohidul Islam, </strong><i>Web Designer</i></h4> </div>
                            <div class="client-face"> <img src="img/client-face1.png" alt=""> </div>
                        </div>
                        <div class="item">
                            <div class="client-text">
                                <p>Jobify offer an amazing service and I couldn’t be happier! They are dedicated to helping recruiters find great candidates, wonderful service!</p>
                                <h4><strong>Ohidul Islam, </strong><i>Web Designer</i></h4> </div>
                            <div class="client-face"> <img src="img/client-face2.png" alt=""> </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> --></div>
    </div>
</body>
<script src="js/owl.carousel.min.js"></script>
<script src="js/wow.js"></script>
<script src="js/main.js"></script>