<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<!--<![endif]-->
<!-- D3js -->

<head>
    <link rel="stylesheet" href="style/dataTables.bootstrap.min.css">
<!--
  <script src="js/FileSaver.js"></script>
<link href="style/lineup_style.css" rel="stylesheet">
<link href="style/lineup.css" rel="stylesheet"> </head>-->

<body>
    <div class="content-area ranking-table">
        <div class="row">
            <div class="col-md-12 ">
                <center>
                    <h2>Univesity Ranking</h2></center>
                <center>
                    <hr class="small"> </center>
                <table class="table  dataTable no-footer" style="text-align:center;" id="data-table">
                    <thead>
                        <tr>
                            <th style="text-align:center">Ranking</th>
                            <th style="text-align:center">Univeristy Name</th>
                            <th style="text-align:center">Teaching</th>
                            <th style="text-align:center">International</th>
                            <th style="text-align:center">Research</th>
                            <th style="text-align:center">Citatons</th>
                            <th style="text-align:center">Income</th>
                            <th style="text-align:center">Total Score</th>
                            <!--
                            <th style="text-align:center">Student Population</th>
<th style="text-align:center">Student Staff Ratio</th>
<th style="text-align:center">International Student Ratio</th>
-->
                        </tr>
                    </thead>
                    <tbody> </tbody>
                </table>
            </div>
            <center>
                <hr class="small"> </center>
<!--
          <div id="lugui-menu">
    <div style="display: inline-block; float: left; padding-left:5px; padding-top:2px;">
        <a href="http://caleydo.org"><img src="assets/caleydo_c.svg" height="14em" width="auto"></a> LineUp.js &nbsp; &nbsp; &nbsp; |<span id="lugui-menu-rendering"> </span>| <span id="lugui-menu-actions"> </span>
        <form>
            <input type="file" id="fileselect" style="display:none;"> </form> <span id="drop_zone" title="drop files here (csv, tsv) or an url to an accessible text file">
      To upload data drop file here or click to select file(csv, tsv)</span> </div>
    <div style="display: inline-block; float: right; padding-right:5px; padding-top:2px;">
        <select id="lugui-dataset-selector"></select> <i class="fa fa-info-circle" style="color: #555555;"></i> </div>
</div>
<div id="lugui-wrapper"></div>
-->
        </div>
    </div>
    <script src="js/d3.min.js" charset="utf-8"></script>
    <script src="js/d3.tip.min.js"></script>
    <!-- crossfilter.js -->
    <script src="js/crossfilter.js"></script>
    <!-- dc.js -->
    <script src="js/dc.js"></script>
    <!--	colorbrewer.js-->
    <script src="js/colorbrewer.js"></script>
    <script src="js/jquery.dataTables.min.js"></script>
    <script src="js/dataTables.bootstrap.min.js"></script>
    <script src="js/dataTable.js"></script>
<!--
    <script src="//cdnjs.cloudflare.com/ajax/libs/es6-promise/3.0.2/es6-promise.js"></script>
    <script src="js/LineUpJS.js"></script>
    <script src="js/lineup_demo.js"></script>
-->
</body>